body {
    font-family: Roboto;
    background-image: url(media/nh-landing-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 150px;
    color: 15, 17, 8;
}

.navigation-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}

.navigation-left img {
    max-height: 80px;
    float: left;
}

.navigation-right nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: x-large;
    font-weight: bold;
    list-style-type: none;
}

.navigation-right a {
    color: black;
    text-decoration: none;
}

.navigation-right a:hover {
    color: #ffe600;
}

.header {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.table-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table-info th {
    width: 220px;
}

.table-info td {
    width: 220px;
}

.call-to-action form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.301);
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer {
    background-color: #0f0f1870;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: rgba(240, 248, 255, 0.384);
    margin: 0;
}

.footer img {
    position: relative;
    height: 30px;
}
